<div class="modal fade bd-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
	style="display: none;">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body p-0">
				<div class="card m-0 border-0">

					<div class="modal-header py-3">
						<h6 class="modal-title font-weight-bold text-primary" id="myLargeModalLabel">Instituciones</h6>
						<button type="button" class="close" data-dismiss="modal" aria-label="close">
							<span aria-hidden="true">x</span>
						</button>
					</div>

					<div class="card-body">

						<div id="modal-container">

							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Nombre Institución</th>
											<th>Nivel / Modalidad</th>
											<th>Distrito</th>
											<th>Acción</th>
										</tr>
									</thead>

									<tbody>
										{% for object in institucion %}
										<tr>
											<td>{{ object.nombre_institucion }}</td>
											<td>{{ object.niveles_modalidades }}</td>
											<td>{{ object.nombre_distrito }}</td>
											<td>

												<button class="btn btn-success btn-block select-btn"
													data-dismiss="modal"
													onclick='return selectInst("{{ object.id }}", "{{ object.nombre_institucion }}");'
													title="Eliminar">Seleccionar</button>

											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>